{% extends 'base.html' %}
{% block context %}
    <div>
{#        {{a}}#}
        <div class="jumbotron">
          <h1 class="display-4 animated">Hello, this is my blog <span class="badge badge-secondary">New</span> </h1>
         <pre>
             <p class="lead">
              (*)  (*)
                \\/<
              [______]
             </p>
         </pre>
          <hr class="my-4">
            <h2 pt-20>Here you can see posts: </h2>
        </div>
        {% autoescape off %}
            <div class="row">
                {% for post in post_list %}
                    <div class="card col-12 col-md-6 col-lg-3 col-xl-4" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title"><i>Title:</i> {{ post.title }}</h5>
                        <p class="card-text"><i>Author:</i> {{ post.author }}<br><i>Created: </i>{{ post.created }}</p>
{#                        <a href="{% url 'post_detail' post.slug %}" type="button" class="btn btn-outline-success">Read More</a>#}
                          <div class="btn-group">
                              <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Read More:
                              </button>
                              <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'post_detail' post.slug %}">About this post</a>
                                    <div class="dropdown-divider"></div>
                              </div>
                          </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        {% endautoescape %}
    </div>
{#    <script>#}
{#        $(function () {#}
{#            $(window).scroll(function () {#}
{#                $('.display-4').each(function () {#}
{#                    var imagePos = $(this).offset().top;#}
{#                    var topOfWindow = $(window).scrollTop();#}
{#                    if (imagePos < topOfWindow + 650) {#}
{#                        $(this).addClass("fadeInLeft");#}
{#                    }#}
{#                });#}
{#            });#}
{#        })#}
{#    </script>#}
{% endblock context%}