{% extends 'base.html' %}
{% load static %}
{% block context %}
    {% autoescape off %}
    <div>
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.author }} | {{ post.created }}</p>
            <p>{{ post.body|safe }}</p>
{#                safe потрібен для того щоб аутоескейп був тільки для цього блчока#}
        </div>
{#                <button type="submit" id="like" class="fab fa-accessible-icon">Like {{ post.likes.count }}</button>#}
            <button type="button" class="btn btn-primary">
                <i id="like" class="fas fa-poo">{{ post.likes.count }}</i><span class="badge badge-light"></span>
            </button>

        <div>
            <h3>Comments:</h3>
                {% for comment in post.comments.all %}
                    <ul class="list-group list-group-horizontal">
                      <li class="list-group-item">Author: {{ comment.author }}</li>
                      <li class="list-group-item">{{ comment.body }}</li>
                    </ul>
                {% endfor %}
        </div>
    </div>
    {% endautoescape %}
    <div class="alert alert-success d-none" role="alert">
         Comment successfully created
    </div>
    <button id="create_comment">create comment</button>
    <div id="hidden" class="form-wrapper d-none">
        <form id="form_id">
          <div class="form-group">
            <input type="text" class="form-control" id="author" placeholder="Author">
          </div>
          <div class="form-group">
            <textarea class="form-control" id="body" rows="3"></textarea>
          </div>
            <input id="post_id" type="hidden" value={{ post.id }}>
            <button id="send_comment" type="submit">Send</button>
        </form>
        <div id="comment_list"></div>
    </div>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script>
        $(document).ready(() => {
            $("#like").click(function (e) {
                var post_id = $("#post_id").val();
                $.ajax({
                    type: "POST",
                    url: `/api/article/posts/${post_id}/do_like/`,
                    success: function (data) {
                        console.log(data.likes);
                        $("#like").text(`${data.likes}`)
                        {#{likes: 1}#}
                    }
                });
            });

            $("form").submit(function (e) {
                e.preventDefault();
                var author = $("#author");
                var body = $("#body");
                var post_id = $("#post_id").val();
                $.ajax({
                  type: "POST",
                  url: `/api/article/posts/${post_id}/comments/`,
                  data: JSON.stringify({
                      'author': author.val(),
                      'body': body.val(),
                  }),
                  success: function () {
                      $("#comment_list").append(`<div>${author.val()} ${body.val()}</div>`);
                      author.val("");
                      body.val("");
                      $('div#hidden').addClass('d-none');
                      $('div.alert-success').addClass('d-none');
                      setTimeout(() => {
                         $('div.alert-success').removeClass('d-none');
                              }, 3000);
                  },
                  contentType : 'application/json',
                });
            });

            $('button#create_comment').click(function (){
               $('div#hidden').toggleClass('d-none');
            });
        });
    </script>

{% endblock context%}
